body{
    font-family: "Roboto", Arial, Helvetica, sans-serif,sans-serif;
}
:root{
  --dark-color :#19283f;
}
/* start Nav */
.navbar{
  background-color: var(--dark-color);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.do{
  flex-direction: column;
}
.mymodel{
  display: none;
}
.navbar-toggler-icon{
  color: wheat;
}

.slide{
  min-width: 300px;
  max-width: 600px;
 
}
.carousel-item img{
  height: 300px;
  /* width:400px; */
}